@section breadcrumb{
    <li class="breadcrumb-item active" aria-current="page">Home</li>
}

<div class="jumbotron">
    <h1 class="display-4">Worlds Simplest Library</h1>
    <p class="lead">Lorem Ipsus.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Create" role="button">Click here to begin adding books</a>
</div>