<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</head>
<body>

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Create">Add Book</a>
        </li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        @RenderSection("breadcrumb", false)
                    </ol>
                </nav>

                <div>
                    @RenderBody()
                </div>

            </div>
        </div>
    </div>

</body>
</html>
