@model VideoViewModel

<section>

    <h3>@Model.Title</h3>
    <div>@Model.Genre</div>
    <div>
        <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id">Details</a>
        <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>

</section>